# .gitignore
*.sqlite3
__pycache__/
*.pyc
frontend/.vite/
frontend/node_modules/
.env
.env.*
.env.local
!frontend/.env.production
venv/
.DS_Store
db.sqlite3

backend/.venv/
node_modules/
.DS_Store
start_local.md
backend/media/
new_plan.md
test.md
migrate.md
legal_attention.md
swift.md
