{% extends "base.html" %}

{% block content %}
<div style="max-width: 400px; margin: 100px auto; font-family: sans-serif; text-align: center;">
    <h2 style="font-weight: 700; margin-bottom: 20px;">Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <div style="margin-bottom: 20px; text-align: left;">
            {{ form.as_p }}
        </div>
        <button type="submit"
            style="background: black; color: white; padding: 10px 20px; border: none; width: 100%; cursor: pointer;">
            Send Reset Email
        </button>
        <h4>If you didn't receive reset email within 24 hours, please contact <a style="text-decoration: underline;"
                href="mailto:timtify.ca@gmail.com">us</a></h4>
    </form>
    <p style="margin-top: 20px; font-size: 14px;">
        <a href="http://localhost:5173/login" style="color: #607196; text-decoration: none;">Back to Login</a>
    </p>
</div>
{% endblock %}