{% extends "base.html" %}

{% block content %}
<div style="max-width: 400px; margin: 100px auto; font-family: sans-serif; text-align: center;">
    <h2 style="font-weight: 700; margin-bottom: 20px;">Email Sent</h2>
    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your
        spam
        folder.</p>
    <p style="margin-top: 20px; font-size: 14px;">
        <a href="http://localhost:5173" style="color: #607196; text-decoration: none;">Go to Home</a>
    </p>
</div>

{% endblock %}