{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <title>timetify</title>
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background: #fdfdfd;
            margin: 0;
            padding: 0;
            color: #333;
        }

        .nav {
            padding: 20px;
            border-bottom: 1px solid #eee;
            text-align: center;
            font-weight: bold;
        }

        .container {
            padding: 40px 20px;
        }
    </style>
</head>

<body>
    <div class="nav">TIMETIFY</div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>